body {
    background: url(./image/MeS-Fond-decran-Organisation-2021-EDBH.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.titre {
    background-color: rgba(246, 247, 228, 0.949);
    width: 80%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 10vh;
    text-align: center;
    margin: 0 auto;
    padding: 5vh;
    margin-bottom: 7em;
    box-shadow: 10px 5px 5px 1px rgba(57, 56, 56, 0.544);

}

h1 {
    padding: 1;
    font-family: cursive;
    font-weight: 100;
    font-size: 85px;
    vertical-align: middle;
    margin: 0 auto;
}

.newtache {
    padding: 1vw;
    margin-top: 4vw;
    box-shadow: 10px 5px 5px 1px rgba(57, 56, 56, 0.544);
    text-align: center;
    width: 40vw;
    margin: auto;
    background-color: rgb(245, 245, 220);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    

}

.info {
    border-color: rgb(245, 245, 220);;
    width: 39vw;
    height: 5vh;
    border-radius: 1vw;

}

h3 {
    font-size: larger;
    font-family: cursive;
}

.btnEnregistrer {
    margin-top: 1vw;
    padding: 1vh;
    opacity: 60%;
    border: none;
    border-radius: 3vw;
    box-shadow: 2px 2px 1px black;
    /* background-color: rgb(142, 208, 208); */

}
.btnEnregistrer:hover{
    opacity: 100%;
}

.date {
    box-shadow: 2px 2px 1px black;
    padding: 0.5em;
    border-radius: 3vw;
}

.list {
    width: 60vw;
    height: auto;
    background-color: rgba(245, 245, 220, 0.762);;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 1px black;
    margin-top: 8vh;
    padding-top: 1vh;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 1vw;
    
    
}

h2 {
    font-size: xx-large;
    margin-bottom: 5vh;
    font-family: cursive;
}

.decor {

    list-style-type: initial;
    width: 30vw;
    height: auto;
    border-radius: 30px;
    text-align: left;
    padding: 1em;
    margin: 2vh;
}

.secdivdate {
    background-color: rgb(232, 232, 232);
    padding: 1vh;
    width: 30vw;
    margin: auto;
    text-align: center;
    border-radius: 19px;
    box-shadow: 2px 2px 1px black;

}

.btnSup {
    background-color: rgba(218, 94, 94, 0.414);
    opacity: 75%;
    width: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 1px black;
    border: none;
    justify-self: right;
    animation: ;

}
.btnSup:hover{
    opacity: 100%;
}

#tache li { 
   
    margin-right: 3vw;
    margin-bottom: 2vh;
    font-family: cursive;
    border: double white;
    background-color: rgba(207, 213, 213, 0.989);
    box-shadow: 2px 2px 1px black;
    border-radius: 2vh;
    animation: fadeInAnimation ease 4s; 
animation-fill-mode: forwards; 
animation-iteration-count: 1; 
list-style: none;
} 
@keyframes fadeInAnimation { 
0% { 
opacity: 0; 
} 
100% { 
opacity: 1; 
} 
}

.modif {
    background-color: rgba(227, 200, 44, 0.445);
    opacity: 75%;
       width: auto;
    border-radius: 22px;
    border: none;
    box-shadow: 2px 2px 1px black;
    justify-self: right;
}
.modif:hover{
    opacity: 100%;
    
}

.inputmodif {
    border-radius: 30px;
    background-color: rgba(251, 250, 249, 0.504);

}


/* responsive dit telephone */
@media screen and (   max-width: 425px) {

    .newtache{
        width: auto;
    }
}